:root {
  --primary-color: #484848;
  --secondary-color: #484848;
}
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$border-color: #e7e7e7;
$primary-green: #3ea254;
$primary-red: #ea0f0f;
$primary-blue: #182542;
