@import '../../static/scss/mixin';
@import '../../static/scss/colors';

.search {
  height: 80px;
  border: 1px solid $border-color;
  flex: 0 0 80px;
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 35%;
  margin: 0 auto;
  overflow: hidden;
  .textInput {
    flex: 1;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    padding-left: 24px;
    &::placeholder {
      text-transform: capitalize;
    }
  }
  .searchIcn {
    height: 28px;
    width: 28px;
    margin-right: 25px;
    opacity: 0.4;
  }
  .icon {
    height: 100%;
    cursor: pointer;
    flex: 0 0 180px;
    padding: 0 20px;
    border-right: 1px solid $border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: auto;
      height: 30%;
      margin-right: 8px;
    }
    span {
      font-size: 16px;
      font-weight: 600;
    }
    &:hover {
      * {
        transform: scale(1.05);
      }
    }
    &.true {
      background: whitesmoke;
    }
  }
  @include md {
    height: 55px;
    flex: 0 0 55px;
    padding: 0;
    font-size: 15px;
    width: 80%;
    margin-top: 10px;
    .textInput {
      width: 0;
      font-size: 14px;
      padding-left: 20px;
    }
    .icon {
      flex: unset;
      width: fit-content;
      padding: 0;
      img {
        margin: auto 10px;
        height: 40%;
        width: auto;
      }
      span {
        margin-right: 10px;
      }
    }
    .searchIcn {
      opacity: 0.6;
      height: 20px;
      margin-right: 10px;
      width: auto;
    }
  }
}
