@import '../../scss/colours';
.searchFilter {
  background: white;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 30px;
  color: $primary-color;
  ::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }
  .header {
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 3rem;
  }
  .recentChatsContainer {
    display: flex;
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
    .recentChatItem {
      flex: 0 0 110px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      border: 1px solid $border-color;
      margin-right: 15px;
      cursor: pointer;
      .avatarImage {
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
      }
      .name {
        text-align: center;
        font-weight: 600;
      }
    }
  }
  .friendsListContainer {
    margin-top: 20px;
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
    .friendItem {
      display: flex;
      align-items: center;
      padding: 20px;
      border: 1px solid $border-color;
      margin-bottom: 15px;
      cursor: pointer;
      .avatarImage {
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .name {
          font-weight: 600;
          font-size: 20px;
        }
      }
      &.disable {
        opacity: 0.4;
      }
    }
  }
}
