@import './scss/_colours';
.chatsIoComponent {
  width: 32%;
  flex: 0 0 32%;
  background: white;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  position: relative;
  animation: chatShow 800ms;
  .head {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .logo {
      height: 60%;
      path {
        fill: $primary-color;
      }
    }
    .btBack,
    .btExpand {
      cursor: pointer;
      position: absolute;
      height: 25px;
      width: 25px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .btBack {
      left: 20px;
      circle {
        fill: $primary-color;
      }
    }
    .btExpand {
      right: 20px;
      path {
        fill: $primary-color;
      }
    }
  }
  .searchHead {
    height: 50px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    display: flex;
    .all {
      cursor: pointer;
      flex: 0 0 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      border-right: 1px solid $border-color;
      &.true {
        background: $primary-color;
        color: white;
      }
    }
    .searchWrap {
      display: flex;
      flex: 1;
      input {
        width: 0;
        flex: 1;
        font-size: 19px;
        outline: none;
        border: none;
        background: none;
        padding: 0 20px;
        &::placeholder {
          font-weight: 400;
          color: $border-color;
        }
      }
      .searchIcn {
        height: 50%;
        margin: auto 0;
        margin-right: 30px;
      }
    }
  }
  .chatsContent {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &.right {
    .head {
      .btBack {
        left: unset;
        right: 20px;
        transform: scaleX(-1);
        circle {
          fill: $primary-color;
        }
      }
      .btExpand {
        left: 20px;
        right: unset;
        path {
          fill: $primary-color;
        }
      }
    }
  }
  @keyframes chatShow {
    from {
      max-width: 0%;
    }
    to {
      max-width: 32%;
    }
  }
}
