@import '../../static/scss/mixin';
@import '../../static/scss/colors';

.fabWrapper {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 70px;
  width: 70px;
  background: #0d6bf1;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  transition: all 400ms ease-in-out;
  img {
    height: auto;
    width: 52px;
  }
  .text {
    display: none;
    font-size: 0;
    color: white;
    font-weight: 600;
    margin-right: 20px;
    transition: all 400ms ease-in-out;
  }
  &.true {
    width: 200px;
    .text {
      display: block;
      font-size: 20px;
    }
  }
}
