@import '../../static/scss/mixin';
@import '../../static/scss/colors';

.categoryModalWrap {
  z-index: 5;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #00000090;
  }
  .categoryModal {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 1;
    background: white;
    border-radius: 25px;
    width: 55%;
    height: 65%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .head {
      height: 70px;
      background: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 34px;
      font-weight: 600;
      color: white;
    }
    .categoriesFour {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 0 5%;
      justify-content: space-between;
      .item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        flex: 0 0 20%;
        .imgWrap {
          width: 100%;
          height: fit-content;
          position: relative;
          margin-bottom: 15px;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0 0 5px #00000080;
          svg {
            width: 100%;
            height: auto;
          }
          .image {
            padding: 25px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
        .label {
          font-weight: 400;
          font-size: 20px;
        }
        &:hover {
          transform: scale(1.05);
          .label {
            font-weight: 500;
          }
        }
        &.true {
          .label {
            font-weight: 600;
          }
        }
      }
    }
    .scrollBar {
      flex: 1;
      > div {
        display: flex;
        padding: 2% 5%;
        flex-wrap: wrap;
        justify-content: space-between;
        .item {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px 10px;
          flex: 0 0 18%;
          min-width: 18%;
          margin: 0 2%;
          .imgWrap {
            width: 100%;
            height: fit-content;
            position: relative;
            margin-bottom: 15px;
            svg {
              width: 100%;
              height: auto;
            }
            .image {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              overflow: hidden;
              box-shadow: 0 0 5px #00000080;
            }
          }
          .label {
            font-weight: 400;
            font-size: 20px;
          }
          &:hover {
            transform: scale(1.05);
            .label {
              font-weight: 500;
            }
          }
          &.true {
            .label {
              font-weight: 600;
            }
          }
        }
        .itemHid {
          flex: 0 0 18%;
          min-width: 18%;
          margin: 2%;
        }
      }
    }
  }

  @include md {
    .categoryModal {
      width: 90%;
      height: 70%;
      border-radius: 15px;
      .head {
        height: 55px;
        font-size: 30px;
      }
      .categoriesFour {
        flex-wrap: wrap;
        .item {
          flex: 0 0 40%;
          align-items: center;
          justify-content: space-between;
          .label {
            font-weight: 400;
            font-size: 17px;
          }
        }
      }
      .scrollBar {
        flex: 1;
        > div {
          display: flex;
          padding: 2% 5%;
          flex-wrap: wrap;
          justify-content: space-between;
          .item {
            flex: 0 0 40%;
            min-width: 40%;
            margin: 0 2%;
            .label {
              font-size: 17px;
            }
          }
          .itemHid {
            flex: 0 0 40%;
            min-width: 40%;
            margin: 0 2%;
          }
        }
      }
    }
  }
}
