@import '../../scss/colours';
.chatInputs {
  display: flex;
  border-top: 1px solid $border-color;
  align-items: flex-end;
  .addFile,
  .sendBtn {
    height: 100%;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    border-right: 1px solid $border-color;

    svg {
      width: 40%;
      height: auto;
    }
    .dNone {
      display: none;
    }
  }
  .sendBtn {
    background: #010b1e;
    cursor: pointer;
  }
  .textArea {
    padding: 6px;
    line-height: 1;
    min-height: 50px;
    max-height: 130px;
    width: 0;
    flex: 1;
    border: none;
    display: flex;
    font-size: 15px;
    //   align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}
