@import '../../scss/colours';
.chatLayoutContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  .chatHeader {
    display: flex;
    background-color: $primary-color;
    border-top: 1px solid white;
    align-items: center;
    padding: 20px 10px;
    .chatBackButton {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin-right: 20px;
    }
    .chatUserAvatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .chatUserContainer {
      margin-left: 10px;
      flex: 1;
      .chatUserName {
        color: white;
        font-weight: 600;
      }
      .chatUserBio {
        color: white;
        font-size: 0.7rem;
      }
    }
  }
}
