@import '../../scss/colours';
.chatAreaWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  height: 0;
  margin: 0;
  .chats {
    flex: 1;
    padding: 0 10px;
  }
  .noChats {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    .textCenter {
      text-align: center;
    }
  }
  .typingIndicator {
    display: flex;
    padding: 5px;
    text-align: justify;
    color: grey;
    .ticontainer {
      .tidot {
        background-color: lightgray;
        border-radius: 20px;
        display: inline-block;
        height: 7px;
        margin-right: 2px;
        margin-top: 5px;
        margin-bottom: 2px;
        width: 7px;
        animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
        &:nth-child(1) {
          animation-delay: 200ms;
        }
        &:nth-child(2) {
          animation-delay: 300ms;
        }
        &:nth-child(3) {
          animation-delay: 400ms;
        }
      }
    }
  }
  .answer {
    margin: 0 5%;
    margin-top: 5%;
    display: flex;
    .bot {
      width: 70px;
      display: flex;
      flex-direction: column;
      .imgLogo {
        margin: 0 auto;
        background-color: $primary-color;
        height: 50px;
        width: 50px;
        border-radius: 25px;
      }
      p {
        text-align: center;
        font-size: 11px;
      }
    }
    .questionWrap {
      margin: auto 8px auto auto;
      padding: 16px;
      min-width: 20%;
      max-width: 60%;
      height: fit-content;
      background: white;
      border: 1px solid $border-color;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      flex-direction: column;
      .questionText {
        width: 100%;
        font-size: 12px;
        word-break: break-word;
        margin: 0;
      }
      .preview {
        width: 100%;
        height: fit-content;
        position: relative;
        svg {
          width: 100%;
          height: auto;
        }
        .previewItem {
          object-fit: contain;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          &.file {
            padding: 35px;
          }
        }
      }
    }
    .question-text {
      font-size: 12px;
      word-break: break-word;
    }
  }
  .question {
    margin: 0 4%;
    margin-top: 5%;
    display: flex;
    .bot {
      width: 70px;
      display: flex;
      flex-direction: column;
      .appLogoContainer {
        margin: 0 auto;
        height: 50px;
        width: 50px;
        max-width: 50px;
        background: $primary-color;
        border-radius: 25px;
        display: flex;
        overflow: hidden;
      }
      .appLogo {
        margin: auto;
        flex: 1;
        width: 100%;
        height: 100%;
      }
      p {
        text-align: center;
        font-size: 11px;
      }
    }
    .questionWrap {
      margin: auto auto auto 8px;
      padding: 16px;
      min-width: 20%;
      max-width: 60%;
      background: #e8eaef50;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      flex-direction: column;
      .questionText {
        width: 100%;
        font-size: 12px;
        word-break: break-word;
        margin: 0;
      }
      .preview {
        width: 100%;
        height: fit-content;
        position: relative;
        svg {
          width: 100%;
          height: auto;
        }
        .previewItem {
          object-fit: contain;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          &.file {
            padding: 35px;
          }
        }
      }
    }
    .question-loading {
      width: 100px;
      height: 40px;
      margin-left: 16px;
      margin-right: auto;
      padding: 0 12px;
      display: flex;
      align-items: center;
      background: #e8eaef50;
      font-size: 14px;
      border-radius: 30px;
      .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 60px;
        height: 20px;
        div {
          position: absolute;
          top: 6px;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: rgb(177, 177, 177);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);

          &:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
          }

          &:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
          }

          &:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
          }

          &:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
          }
        }
      }

      @keyframes lds-ellipsis1 {
        0% {
          transform: scale(0);
        }

        100% {
          transform: scale(1);
        }
      }

      @keyframes lds-ellipsis3 {
        0% {
          transform: scale(1);
        }

        100% {
          transform: scale(0);
        }
      }

      @keyframes lds-ellipsis2 {
        0% {
          transform: translate(0, 0);
        }

        100% {
          transform: translate(24px, 0);
        }
      }
    }
  }
  .loadingWraper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
  }

  .inChatInfo {
    display: flex;
    padding: 5px;
    span {
      margin: auto;
      color: lightgrey;
      font-style: italic;
      font-size: 10px;
    }
  }

  .message-item-wrapper {
    display: flex;
    max-width: 80%;
    margin-top: 10px;
    .message-body {
      padding: 10px 15px;
      max-width: 100%;
      overflow-wrap: break-word;
    }
  }
  .sent-message {
    margin-left: auto;
    justify-content: flex-end;
    .message-body {
      background: #010b1e;
      color: #ffffff;
      text-align: end;
      border-radius: 10px 10px 0 10px;
    }
  }
  .received-message {
    margin-right: auto;
    justify-content: flex-start;
    .message-body {
      background: #e2e2e2;
      color: #65666b;
      text-align: start;
      border-radius: 10px 10px 10px 0;
    }
  }
}
