@import '../../scss/colours';
.oneOneChatWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 30px;
  color: $primary-color;
  ::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }
  .searchContainer {
    margin-top: 20px;
    display: flex;
    border: 1px solid $border-color;
    align-items: center;
    padding: 15px 20px;
    .searchIcon {
      width: 20px;
      height: 20px;
    }
    .searchInput {
      flex: 1;
      padding: 0 10px;
      border: none;
      background: none;
      outline: none;
    }
  }
  .header {
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 3rem;
  }
  .recentChatsContainer {
    display: flex;
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
    .recentChatItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border: 1px solid $border-color;
      margin-right: 15px;
      cursor: pointer;
      .avatarImage {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 5px;
      }
      .name {
        text-align: center;
        font-weight: 600;
      }
      .time {
        text-align: center;
        font-size: 0.8rem;
        color: #bbbbbb;
      }
    }
  }
  .friendsListContainer {
    margin-top: 20px;
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
    .friendItem {
      display: flex;
      align-items: center;
      padding: 20px;
      border: 1px solid $border-color;
      margin-bottom: 15px;
      cursor: pointer;
      .avatarImage {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .name {
          font-weight: 600;
        }
        .time {
          font-size: 0.8rem;
          color: #bbbbbb;
        }
      }
    }
  }
  .loadingWraper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
  }
}
