.fullPageLoader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  .mainLogo {
    width: 40%;
    animation: zoom;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  @keyframes zoom {
    0% {
      width: 32%;
    }
    50% {
      width: 40%;
    }
    100% {
      width: 32%;
    }
  }
}
