.mainLayout {
  max-height: 100vh;
  .mainArea {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    .topBar {
      height: 80px !important;
      background: $primary-color;
      > div {
        display: flex;
        .tab {
          cursor: pointer;
          flex: 0 0 25%;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 23px;
          &.true {
            font-weight: 600;
          }
        }
        .btnMenu {
          z-index: 2;
          cursor: pointer;
          color: white;
          position: fixed;
          top: 90px;
          right: 45px;
          height: 80px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateX(50%);
          font-size: 25px;
        }
      }
      @include md {
        height: 60px !important;
        > div {
          .tab {
            flex: 0 0 33.33%;
            font-size: 17px;
          }
          .btnMenu {
            display: none;
          }
        }
      }
    }
    .subBar {
      height: 70px !important;
      border-bottom: 1px solid $border-color;
      > div {
        display: flex;
        .tab {
          cursor: pointer;
          flex: 0 0 25%;
          color: $primary-color;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 19px;
          &.true {
            font-weight: 600;
          }
        }
      }
      @include md {
        > div {
          .tab {
            flex: 0 0 33.33% !important;
            font-size: 15px;
          }
        }
      }
    }
    .content {
      height: 0;
      flex: 1;
      padding: 60px 90px;
      display: flex;
      .listNhead {
        border: 1px solid $border-color;
        flex: 1;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        .head {
          height: 70px;
          flex: 0 0 70px;
          border-bottom: 1px solid $border-color;
          display: flex;
          input {
            width: 0;
            flex: 1;
            border: none;
            padding: 0 40px;
            font-size: 20px;
            font-family: Montserrat;
          }
          .btIcon {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 70px;
            border-left: 1px solid $border-color;
            img {
              width: 50%;
              height: 50%;
              object-fit: contain;
              transition: all 400ms ease;
            }
            &:hover {
              img {
                transform: scale(1.05);
              }
            }
            &.disble {
              opacity: 0.4;
              img {
                transform: scale(1);
              }
            }
          }
        }
        .scrollList {
          height: 0 !important;
          flex: 1;
          > div {
            display: flex;
            flex-direction: column;
            .item {
              cursor: pointer;
              height: 110px;
              flex: 0 0 110px;
              border-bottom: 1px solid $border-color;
              display: flex;
              align-items: center;
              padding: 0 40px;
              .icon {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                margin-right: 10px;
              }
              span {
                font-size: 20px;
                font-weight: 600;
                text-transform: capitalize;
              }
              .value {
                margin-left: auto;
              }
              &:hover,
              &.true {
                background: whitesmoke;
              }
            }
            .notFound {
              flex: 0 0 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              .text {
                color: $primary-color;
                width: 70%;
                font-size: 3.4vh;
                text-align: center;
                line-height: 2;
              }
            }
          }
        }
        .listFooter {
          flex: 0 0 60px;
          border-top: 1px solid $border-color;
          display: flex;
          .offering,
          .investors {
            padding: 0 45px;
            display: flex;
            align-items: center;
            font-weight: 600;
            border-right: 1px solid $border-color;
            font-size: 18px;
          }
          .offering {
            flex: 1;
          }
          .investors {
            width: fit-content;
          }
          .btn {
            width: 60px;
            flex: 0 0 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
              width: 50%;
              transition: all 400ms ease;
            }
            &:hover {
              img {
                transform: scale(1.05);
              }
            }
          }
        }
      }
      .sideBar {
        flex: 0 0 35%;
        min-width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid $border-color;
        .headbar {
          height: 70px;
          flex: 0 0 70px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-bottom: 1px solid $border-color;
          padding: 0 40px;
          .value {
            font-size: 30px;
            font-weight: 600;
            color: $primary-color;
            line-height: 1;
            display: flex;
            align-items: center;
            .icon {
              height: 35px;
              width: auto;
              margin-right: 10px;
            }
            .left {
              height: 26px;
              width: auto;
              margin-right: 10px;
            }
          }
        }
        .tokenDetail {
          flex: 1;
          display: flex;
          flex-direction: column;
          .tokHead {
            flex: 0 0 70px;
            padding: 0 45px;
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            border-bottom: 1px solid $border-color;
            img {
              height: 40px;
              width: 40px;
              object-fit: contain;
              margin-right: 20px;
            }
            .tokenDetail {
              .name {
                font-size: 22px;
                font-weight: 500;
              }
              .createdBy {
                font-size: 13px;
                text-transform: capitalize;
                span {
                  font-weight: 600;
                }
              }
            }
          }
          .title {
            padding: 0 45px;
            display: flex;
            justify-content: space-between;
            .titleText {
              font-size: 20px;
              font-weight: 600;
              overflow: hidden;
              text-overflow: ellipsis;
              transition: all 300ms ease;
              &.coinBt {
                cursor: pointer;
                display: flex;
                align-items: center;
                img {
                  height: 22px;
                  width: auto;
                  margin-right: 5px;
                }
                &:hover {
                  transform: scale(1.02);
                  text-decoration: underline;
                }
              }
            }
          }
          .desc {
            margin: 0;
            padding: 10px 45px;
            line-height: 2;
            font-size: 14px;
            font-weight: 400;
          }
          .values {
            height: 90px;
            padding: 0 45px;
            padding-bottom: 20px;
            border-bottom: 1px solid $border-color;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .card {
              flex: 0 0 31%;
              border: 1px solid $border-color;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .label {
                font-size: 12px;
              }
              .value {
                font-size: 17px;
                font-weight: 600;
              }
            }
          }
          .headInv {
            font-size: 20px;
            font-weight: bold;
            color: $primary-color;
            display: flex;
            align-items: center;
            padding: 0 45px;
            img {
              margin-left: 10px;
              height: 15px;
            }
          }
          .investorsList {
            height: 0 !important;
            flex: 1;
            margin: 30px 0;
            > div {
              padding: 0 45px;
              .investor {
                height: 75px;
                padding: 0 20px;
                margin-bottom: 20px;
                border: 1px solid $border-color;
                display: flex;
                align-items: center;
                .dp {
                  height: 50px;
                  width: 50px;
                  object-fit: cover;
                  margin-right: 15px;
                }
                .userDetail {
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  .name {
                    font-size: 19px;
                    font-weight: 500;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 4px;
                  }
                  .email {
                    font-size: 15px;
                    display: flex;
                    justify-content: space-between;
                  }
                }
              }
            }
          }
        }
        .buttons {
          display: flex;
          height: 60px;
          justify-content: space-between;
          .btnComp,
          .btnExch {
            cursor: pointer;
            border: 1px solid $border-color;
            flex: 0 0 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: 600;
            transition: all 400ms ease;
            &.false {
              opacity: 0.4;
            }
            &:hover {
              font-size: 24px;
            }
          }
          .btnExch {
            background: #182542;
            color: white;
          }
        }
      }
      @include md {
        flex-direction: column;
        overflow-y: auto;
        padding: 0;
        .listNhead {
          margin: 0;
          flex: 1;
          .head {
            flex: 0 0 60px;
            height: 60px;
            border-bottom: 1px solid $border-color;
            display: flex;
            input {
              width: 0;
              flex: 1;
              border: none;
              padding: 0 10px;
              font-size: 12px;
            }
            .btIcon {
              flex: 0 0 60px;
              &.disble {
                display: none;
              }
            }
          }
          .scrollList {
            > div {
              .item {
                height: 80px;
                padding: 0 15px;
                .icon {
                  height: 30px;
                  width: 30px;
                  margin-right: 6px;
                }
                span {
                  font-size: 12px;
                }
              }
            }
          }
          .listFooter {
            display: none;
          }
        }
        .sideBar {
          display: none;
          flex: unset;
          .headbar {
            padding: 30px 0;
            .value {
              font-size: 35px;
            }
            .exchange {
              font-size: 18px;
              img {
                height: 20px;
                width: 20px;
                margin-right: 6px;
              }
            }
          }
          .group {
            margin-top: 30px;
            margin-bottom: 10px;
            .label {
              margin-bottom: 8px;
            }
            .inpWrap {
              height: 60px;
              input {
                padding: 0 20px;
              }
              .coinBox {
                flex: 0 0 35%;
                max-width: 35%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-left: 1px solid $border-color;
                img {
                  height: 36%;
                  margin-right: 4px;
                }
                span {
                  font-size: 18px;
                  font-weight: 600;
                }
              }
            }
          }
          .buttons {
            margin-top: 20px;
            display: flex;
            height: 60px;
          }
        }
      }
    }
    .footerBtn {
      flex: 0 0 80px;
      border-top: 1px solid $border-color;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      .text {
        font-weight: 600;
        font-size: 24px;
        color: $primary-color;
        transition: all 400ms ease;
      }
      .closeBtn {
        cursor: pointer;
        font-size: 30px;
        color: $primary-color;
        height: fit-content;
        position: absolute;
        right: 50px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &:hover {
        .text {
          font-size: 25px;
        }
      }
      @include md {
        flex: 0 0 60px;
        max-height: 60px;
        .text {
          font-size: 16px;
        }
        .closeBtn {
          cursor: pointer;
          font-size: 20px;
          color: $primary-color;
          height: fit-content;
          position: absolute;
          right: 30px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &:hover {
          .text {
            font-size: 16px;
          }
        }
      }
    }
  }
}
.categoryModalWrap {
  .head {
    background: $app-color !important;
    height: 85px !important;
  }
}
// Navbar
._3DP2R {
  ._3vQlT {
    ._19luj {
      z-index: 2;
    }
    ._3V9nV {
      svg {
        path {
          fill: $primary-color;
        }
      }
    }
  }
  ._3CA1M {
    img {
      cursor: pointer;
      transition: all 400ms ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
