.virtualProspectusBusiness {
  height: 0;
  flex: 1;
  padding: 60px;
  display: flex;
  .userProduct {
    flex: 0 0 380px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid $border-color;
    .tabsUser {
      height: 55px;
      margin: 0;
      border-bottom: 1px solid $border-color;
      display: flex;
      .tab {
        width: 0;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &.true {
          background: #f1f4f6;
          font-weight: 500;
        }
      }
    }
    .selected {
      border-bottom: 1px solid $border-color;
      padding: 30px;
      display: flex;
      flex-direction: column;
      .currentlySelected {
        font-size: 12px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        span {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .user {
        display: flex;
        align-items: center;
        img {
          height: 50px;
          width: 50px;
          border-radius: 5px;
          background: rgba(234, 176, 12, 0.1);
        }
        .userDetail {
          margin-left: 15px;
          flex: 1;
          .name {
            font-size: 20px;
            font-weight: 600;
          }
          .email {
            font-size: 14px;
          }
        }
      }
    }
    .searchUser {
      height: 60px;
      border-bottom: 1px solid $border-color;
      display: flex;
      input {
        flex: 1;
        border: none;
        padding: 0 30px;
      }
    }
    .userList {
      height: 0 !important;
      flex: 1;
      > div {
        .user {
          padding: 20px 30px;
          display: flex;
          align-items: center;
          img {
            height: 50px;
            width: 50px;
            border-radius: 5px;
            background: rgba(234, 176, 12, 0.1);
          }
          .userDetail {
            margin-left: 15px;
            flex: 1;
            .name {
              font-size: 20px;
              font-weight: 600;
            }
            .email {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    .topCards {
      flex: 0 0 75px;
      display: flex;
      justify-content: space-between;
      .users,
      .customers,
      .revenue {
        border: 1px solid $border-color;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .users,
      .customers {
        flex: 0 0 30%;
      }
      .revenue {
        flex: 0 0 38%;
        font-weight: 600;
      }
    }
    .secondCards {
      margin-top: 15px;
      flex: 0 0 160px;
      display: flex;
      justify-content: space-between;
      .users,
      .customers,
      .revenue {
        border: 1px solid $border-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .value {
          font-size: 22px;
          font-weight: 600;
        }
        .label {
          margin-top: 4px;
          font-weight: 300;
          font-size: 14px;
        }
      }
      .users,
      .customers {
        flex: 0 0 30%;
      }
      .revenue {
        flex: 0 0 12%;
      }
    }
    .tableWrap {
      margin-top: 15px;
      border: 1px solid $border-color;
      height: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .ctrlHead {
        height: 55px;
        border-bottom: 1px solid $border-color;
        display: flex;
        .conroller {
          flex: 0 0 180px;
          border-right: 1px solid $border-color;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .switch {
            height: 20px;
            width: 40px;
            border: 2px solid $border-color;
            border-radius: 10px;
            position: relative;
            display: flex;
            align-items: center;
            .ball {
              height: 14px;
              width: 14px;
              border-radius: 7px;
              background: $primary-color;
              position: absolute;
              left: 2px;
            }
            &.true {
              .ball {
                left: unset;
                right: 2px;
              }
            }
          }
          span {
            font-size: 13px;
          }
        }
        input {
          width: 0;
          flex: 1;
          border: none;
          padding: 0 20px;
        }
        img {
          flex: 0 0 55px;
          width: 55px;
          cursor: pointer;
          border-left: 1px solid $border-color;
          padding: 12px;
        }
      }
      .tableHid {
        height: 0;
        flex: 1;
        overflow: scroll;
        position: relative;
        .tableUsers {
          min-width: 100%;
          border-collapse: collapse;
          thead {
            tr {
              background: #f1f4f6;
              height: 35px;
              th {
                position: relative;
                background: #f1f4f6;
                padding: 0 20px;
                position: sticky;
                text-align: left;
                z-index: 3;
                top: 0;
                font-weight: 500;
              }
            }
          }
          tr {
            height: 100px;
            td {
              background: white;
              font-weight: 400;
              white-space: nowrap;
              padding: 0 20px;
              text-align: left;
              .type {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                img {
                  height: 25px;
                  width: 25px;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
