.mainLayout {
  width: 100%;
  .mainArea {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    .btnMenu {
      z-index: 2;
      cursor: pointer;
      color: $primary-color;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      position: fixed;
      height: 60px;
      right: 0;
      bottom: 0;
    }
    @include md {
      .btnMenu {
        display: none;
      }
    }
    .vpPageContent {
      height: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      .tabs {
        margin-top: auto;
        height: 60px;
        display: flex;
        border-top: 1px solid $border-color;
        overflow-y: scroll;
        position: relative;
        .tabItem {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex: 0 0 25%;
          font-size: 17px;
          font-weight: 500;
          position: relative;
          opacity: 0.4;
          &::before {
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 0;
            content: "";
            height: 2px;
            background: $primary-color;
            transition: all 500ms ease;
          }
          &:hover {
            opacity: 0.8;
            font-size: 22px;
            font-weight: 600;
            &::before {
              background-color: $border-color;
              width: 100%;
            }
          }
          &.true {
            opacity: 1;
            font-size: 22px;
            font-weight: 600;
            &::before {
              width: 100%;
              background: $primary-color;
            }
          }
        }
      }
      .vPAnalysisContent {
        height: 0;
        flex: 1;
        display: flex;
        .coinContent {
          flex: 0 0 45%;
          display: flex;
          flex-direction: column;
          border-right: 1px solid $border-color;
          .coinDetail {
            padding: 40px 10%;
            .coinHead {
              height: 50px;
              display: flex;
              align-items: center;
              font-weight: 600;
              img {
                height: 32px;
                margin-right: 8px;
              }
              .coinName {
                font-size: 30px;
              }
              .coinValue {
                margin-left: auto;
                font-size: 26px;
                display: flex;
                align-items: center;
                .coinBtn {
                  margin-left: 10px;
                  border: 1px solid $border-color;
                  font-size: 12px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 4px;
                  height: fit-content;
                  cursor: pointer;
                  img {
                    height: 14px;
                    width: 14px;
                  }
                  &:hover {
                    background: $border-color;
                  }
                }
              }
            }
            .desc {
              margin-top: 10px;
              line-height: 1.8;
            }
            .statusBt {
              display: none;
            }
          }
          .vpCandleHead {
            flex: 0 0 60px;
            border: solid $border-color;
            border-width: 1px 0;
            display: flex;
            .coinView {
              flex: 0 0 32%;
              display: flex;
              .rate {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
              }
              .coin {
                height: 60px;
                width: 60px;
                border: solid $border-color;
                border-width: 0 1px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  height: 65%;
                  width: 65%;
                }
              }
              &.true {
                font-weight: 600;
                .rate {
                  border-bottom: 1px solid #000;
                }
              }
            }
            .marketView {
              flex: 1;
              border-right: 1px solid $border-color;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              font-size: 20px;
              font-weight: 600;
              transition: all 400ms ease;
              cursor: pointer;
              .against {
                font-size: 12px;
                font-weight: 400;
              }
              &:hover {
                font-size: 22px;
              }
            }
          }
          .vpCandleChart {
            height: 0;
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            position: relative;
            .chart-container {
              height: 0;
              flex: 1;
            }
            .days {
              height: 26px;
              width: 52px;
              position: absolute;
              left: 0;
              bottom: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
            }
            .logo {
              position: absolute;
              bottom: 52px;
              right: 30px;
              height: 30px;
              width: auto;
              z-index: 2;
              cursor: pointer;
            }
            .settingsBtn {
              border: 1px solid $border-color;
              border-top: none;
              height: 26px;
              width: 20px;
              position: absolute;
              right: 0;
              bottom: 0;
              z-index: 5;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              cursor: pointer;
            }
          }
          .footer {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-top: 1px solid $border-color;
            height: 65px;
          }
        }
        .statsContent {
          flex: 1;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          position: relative;
          .selectedStats {
            padding: 40px 100px 20px 100px;
            .title {
              display: flex;
              align-items: center;
              height: 50px;
              font-size: 24px;
              font-weight: 600;
            }
            .date {
              font-size: 14px;
            }
          }
          .statsContainer {
            flex: 1;
            position: relative;
            perspective: 1000px;
            transform-style: preserve-3d;
            overflow: hidden;
            .content {
              margin-left: 100px;
              margin-top: 2px;
              width: 60%;
              height: 95%;
              padding: 30px;
              padding-bottom: 0;
              position: absolute;
              left: 0;
              right: 0;
              cursor: pointer;
              display: flex;
              flex-direction: column;
              transition: transform 0.4s ease;
              box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
              transform: translate3d(0, 0, 0);
              background: white;
              z-index: 3;
              .stats {
                position: absolute;
                left: 0;
                right: 0;
                top: -60px;
                order: 1;
                .title {
                  font-size: 24px;
                  font-weight: 600;
                }
                .date {
                  font-size: 14px;
                }
                &.true {
                  order: 0;
                  .title {
                    font-size: 29px;
                  }
                  .date {
                    font-size: 16px;
                  }
                }
              }
              .supplyList {
                flex: 0 0 60px;
                > div {
                  display: flex;
                  .supply {
                    min-width: fit-content;
                    border: 1px solid $border-color;
                    display: flex;
                    flex: 0 0 32%;
                    margin-right: 2%;
                    padding: 0 15px;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 600;
                    img {
                      height: 45%;
                      width: auto;
                      margin-right: 6px;
                    }
                    &.true {
                      border-color: $primary-color;
                    }
                    &:hover {
                      * {
                        transform: scale(1.05);
                      }
                    }
                  }
                }
              }
              .donutNcard {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .donutWrap {
                  flex: 0 0 50%;
                  display: flex;
                  position: relative;
                  .donutSvg {
                    margin: auto;
                    width: 85%;
                    height: auto;
                  }
                  .centreDonut {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    background: white;
                    border: 1px solid $border-color;
                    transition: all 400ms ease;
                    transform: scale(0);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 600;
                    &.true {
                      transform: scale(1);
                    }
                  }
                }
                .donutCards {
                  height: 80% !important;
                  width: 0;
                  flex: 0 0 45%;
                  > div {
                    display: flex;
                    flex-direction: column;
                    .cardHead {
                      color: $primary-color;
                      font-weight: 600;
                      padding: 10px 0;
                      top: 0;
                      position: sticky;
                      background: white;
                      z-index: 1;
                    }
                    .detailCard {
                      zoom: 0.95;
                      border: 1px solid $border-color;
                      border-left-width: 8px;
                      flex: 0 0 70px;
                      margin-bottom: 20px;
                      padding-left: 30px;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      position: relative;
                      opacity: 0.3;
                      .sold {
                        font-size: 13px;
                      }
                      .value {
                        font-size: 18px;
                        font-weight: 600;
                      }
                      .coin {
                        position: absolute;
                        right: 30px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        height: 30px;
                        width: 30px;
                        object-fit: contain;
                        cursor: pointer;
                        &:hover {
                          transform: scale(1.1);
                        }
                      }
                      &.true {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
              .footer {
                flex: 0 0 70px;
                border-top: 1px solid $border-color;
                margin: 0 -30px;
                display: flex;
                .total {
                  flex: 1;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 0 40px;
                  font-weight: 600;
                  font-size: 20px;
                }
                .coin {
                  flex: 0 0 70px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-left: 1px solid $border-color;
                  cursor: pointer;
                  img {
                    transition: all 400ms ease;
                    height: 40px;
                    width: 40px;
                  }
                  &:hover {
                    img {
                      transform: scale(1.1);
                    }
                  }
                }
              }
              .returns {
                margin: 40px 0;
                > div {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 600;
                    color: $primary-color;
                    .date {
                      font-size: 15px;
                      font-weight: 400;
                    }
                  }
                  .returnCard {
                    flex: 0 0 32%;
                    border: 1px solid $border-color;
                    margin-bottom: 3%;
                    border-left-width: 15px;
                    display: flex;
                    align-items: center;
                    .percent,
                    .value {
                      height: 80%;
                      flex: 1;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-size: 22px;
                      font-weight: 600;
                      color: $primary-color;
                    }
                    .percent {
                      flex: 0 0 30%;
                      border-right: 1px solid $border-color;
                    }
                  }
                }
              }
              .sentiment {
                margin: 40px 0;
                flex: 1;
                display: flex;
                justify-content: space-between;
                .sentimentWrap {
                  flex: 0 0 48%;
                  display: flex;
                  flex-direction: column;
                  .sentiCard {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid $border-color;
                    .value {
                      flex: 1;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      .text {
                        font-size: 30px;
                        font-weight: 600;
                      }
                    }
                    .moreData {
                      border-top: 1px solid $border-color;
                      flex: 0 0 50px;
                      max-height: 50px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-size: 18px;
                      font-weight: 600;
                      color: $primary-color;
                      cursor: pointer;
                      img {
                        margin-left: 6px;
                        height: 12px;
                      }
                      * {
                        transition: all ease 400ms;
                      }
                      &:hover {
                        * {
                          transform: scale(1.05);
                        }
                      }
                    }
                  }
                  .btnSenti {
                    flex: 0 0 55px;
                    max-height: 55px;
                    margin-top: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-weight: bold;
                    font-size: 20px;
                    cursor: pointer;
                    transition: all 400ms ease;
                    &:hover {
                      font-size: 22px;
                    }
                    &.red {
                      background: #ee5253;
                    }
                    &.green {
                      background: #00bd9a;
                    }
                  }
                }
              }
              &.i0 {
                .stats {
                  display: none;
                }
              }
              &.i1 {
                transform: translate3d(50%, 0, -200px);
                z-index: 2;
                .stats {
                  .title {
                    text-align: right;
                  }
                  .date {
                    text-align: right;
                  }
                  &.true {
                    order: 0;
                    .title {
                      font-size: 29px;
                    }
                    .date {
                      font-size: 16px;
                    }
                  }
                }
              }
              &.i2 {
                transform: translate3d(100%, 0, -400px);
                z-index: 1;
                .stats {
                  display: none;
                }
              }
              &.i3,
              &.i4 {
                transform: translate3d(150%, 0, -600px);
                z-index: 0;
                .stats {
                  display: none;
                }
              }
            }
          }
        }
        .mobileStats {
          display: none;
        }
      }
      @include md {
        .tabs {
          height: 60px;
          .tabItem {
            flex: 0 0 50%;
            max-width: 50%;
            font-size: 16px;
            &:hover {
              font-size: 17px;
            }
            &.true {
              font-size: 17px;
            }
          }
        }
        .vPAnalysisContent {
          flex-direction: column;
          overflow-y: auto;
          .coinContent {
            flex: unset;
            &.false {
              display: none;
            }
            .coinDetail {
              padding: 20px 10%;
              .coinHead {
                height: 40px;
                align-items: center;
                img {
                  height: 22px;
                  margin-right: 8px;
                }
                .coinName {
                  font-size: 21px;
                }
                .coinValue {
                  font-size: 20px;
                }
              }
              .desc {
                font-size: 14px;
                line-height: 1.7;
              }
              .statusBt {
                height: 80px;
                border: 1px solid $border-color;
                padding: 0 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $primary-color;
                position: relative;
                .textMain {
                  font-size: 22px;
                  font-weight: 600;
                }
                .subText {
                  font-size: 14px;
                }
                .arrow {
                  position: absolute;
                  margin: auto;
                  right: 30px;
                  bottom: 0;
                  top: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
            .vpCandleChart {
              flex: 0 0 220px;
              height: 220px;
            }
            .footer {
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              border-top: 1px solid $border-color;
              height: 65px;
            }
          }
          .statsContent {
            display: none;
          }
          .mobileStats {
            height: 0;
            flex: 1;
            padding: 20px;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            .header {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 26px;
              font-weight: 600;
              color: $primary-color;
              .closeBt {
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            .supplyList {
              margin-top: 15px;
              flex: 0 0 50px;
              margin-right: -20px;
              width: unset !important;
              > div {
                display: flex;
                .supply {
                  min-width: fit-content;
                  border: 1px solid $border-color;
                  display: flex;
                  flex: 0 0 40%;
                  margin-right: 2%;
                  padding: 0 15px;
                  align-items: center;
                  font-size: 16px;
                  font-weight: 600;
                  img {
                    height: 45%;
                    width: auto;
                    margin-right: 6px;
                  }
                }
              }
            }
            .coinVal {
              display: flex;
              justify-content: space-between;
              font-size: 22px;
              font-weight: 600;
              line-height: 1;
              padding: 15px 0;
              align-items: center;
              .coin {
                cursor: pointer;
                height: 25px;
                border: 1px solid $border-color;
                flex: 0 0 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                img {
                  height: 16px;
                  margin-right: 4px;
                }
              }
            }
            .donutWrap {
              flex: 0 0 35%;
              max-height: 35%;
              display: flex;
              .donutSvg {
                margin: auto;
                width: auto;
                height: 90%;
              }
            }
            .donutCards {
              display: flex;
              flex: 0 0 70px;
              overflow-y: scroll;
              .detailCard {
                border: 1px solid $border-color;
                border-left-width: 8px;
                flex: 0 0 60%;
                padding-left: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                margin-right: 2%;
                .sold {
                  font-size: 13px;
                }
                .value {
                  font-size: 18px;
                  font-weight: 600;
                }
                .coin {
                  position: absolute;
                  right: 30px;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  height: 30px;
                }
              }
            }
            &.true {
              display: flex;
            }
          }
        }
      }
    }
  }
}
