@import "../../static/scss/colours";
@import "../../static/scss/mixin";
.modalCountrySelect {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: flex;
  .overlayClose {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
  }
  .modalContent {
    margin: auto;
    z-index: 1;
    width: 90%;
    max-width: 650px;
    height: 800px;
    max-height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid $border-color;
    .head {
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primary-color;
      img {
        width: 40%;
        filter: brightness(0) invert(1);
      }
    }
    .headerTitle {
      padding: 30px 60px;
      .title {
        font-size: 35px;
        font-weight: 600;
        color: $primary-color;
      }
      .breadCrumbs {
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
          font-weight: 400;
          &:last-of-type {
            font-weight: 600;
            text-decoration: underline;
          }
          &:hover {
            font-weight: 600;
          }
        }
      }
      .closeBt {
        display: none;
      }
    }
    .content {
      padding: 0 60px;
      flex: 1;
      display: flex;
      flex-direction: column;
      .searchCountry {
        height: 50px;
        border-radius: 0;
        background: none;
        border: 1px solid $vault-border-color;
        display: flex;
        align-items: center;
        padding: 0 10px;
        margin-bottom: 20px;
        &::placeholder {
          text-transform: capitalize;
        }
      }
      .countryListScroll {
        flex: 1;
        .countryList {
          display: flex;
          flex-direction: column;
          .listCountry {
            flex: 0 0 25%;
            display: flex;
            padding: 0 10px;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            .name {
              font-size: 20px;
              font-weight: 500;
              color: $primary-color;
            }
            .flag {
              height: 40px;
              object-fit: contain;
            }
            &:hover {
              background: whitesmoke;
            }
            &.true {
              .name {
                font-size: 21px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    .mainMenu {
      height: 0 !important;
      flex: 1;
      > div {
        padding: 0 60px;
        display: flex;
        flex-direction: column;
        .card {
          flex: 0 0 25%;
          border: 1px solid $border-color;
          display: flex;
          align-items: center;
          padding: 0 40px;
          margin-bottom: 7%;
          .texts {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .text {
              font-size: 28px;
              font-weight: bold;
              color: $primary-color;
            }
            .subText {
              font-weight: 400;
              font-size: 15px;
              color: $primary-color;
            }
          }
          .imgWrap {
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
              width: 50px;
              height: 50px;
            }
            .switch {
              cursor: pointer;
              width: 60px;
              height: 32px;
              border-radius: 16px;
              border: 3px solid $border-color;
              background: $primary-color;
              display: flex;
              align-items: center;
              .ball {
                height: 24px;
                width: 24px;
                border-radius: 12px;
                background: white;
                margin-left: 1px;
                &.true {
                  margin-left: 29px;
                }
              }
              &:hover {
                filter: grayscale(1);
                transform: scale(1.05);
              }
            }
          }
          &:hover {
            .imgWrap {
              .icon {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
    .footer {
      border-top: 1px solid $vault-border-color;
      flex: 0 0 80px;
      display: flex;
      .btnType {
        cursor: pointer;
        width: 0;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 600;
        transition: all 300ms ease;
        &.true {
          background: $primary-color;
          color: white;
        }
        &:hover {
          font-size: 24px;
        }
      }
    }
    @include md {
      width: 100%;
      height: 100%;
      max-height: unset;
      max-width: unset;
      border-radius: 0;
      margin: 0;
      border: none;
      .head {
        display: none;
      }
      .headerTitle {
        padding: 20px 30px;
        position: relative;
        .title {
          font-size: 30px;
        }
        .breadCrumbs {
          span {
            font-size: 12px;
          }
        }
        .closeBt {
          display: flex;
          position: absolute;
          right: 30px;
          bottom: 0;
          top: 0;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          color: $primary-color;
        }
      }
      .mainMenu {
        height: 0 !important;
        flex: 1;
        > div {
          padding: 0 30px;
          justify-content: flex-start;
          .card {
            flex: 0 0 80px;
            padding: 0 20px;
            margin-bottom: 20px;
            .texts {
              .text {
                font-size: 18px;
              }
              .subText {
                font-size: 13px;
              }
            }
            .imgWrap {
              height: 40px;
              width: 40px;
              .icon {
                width: 35px;
                height: 35px;
              }
              .switch {
                width: 40px;
                height: 22px;
                border-radius: 11px;
                border: 2px solid $border-color;
                display: flex;
                align-items: center;
                .ball {
                  height: 16px;
                  width: 16px;
                  border-radius: 8px;
                  background: white;
                  margin-left: 1px;
                  &.true {
                    margin-left: 19px;
                  }
                }
              }
            }
          }
        }
      }
      .content {
        padding: 0 30px;
      }
      .footer {
        flex: 0 0 70px;
        .btnType {
          font-size: 18px;
          &.true {
            font-size: 19px;
          }
        }
      }
    }
  }
}
