@import '../../static/scss/mixin';
@import '../../static/scss/colors';

.navCompact {
  flex: 0 0 90px;
  height: 90px;
  display: flex;
  border-bottom: 1px solid $border-color;
  align-items: center;
  .navHome {
    display: flex;
    border-right: 1px solid $border-color;
    &:last-of-type {
      border-right: none;
      border-left: 1px solid $border-color;
    }
    .logo {
      height: 90px;
      flex: 90;
      width: 90px;
      padding: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img,
      svg {
        transition: 300ms all ease;
      }
      .label {
        display: none;
        position: absolute;
        top: 70px;
        height: 60px;
        background: white;
        border: 1px solid $border-color;
        padding: 0 20px;
        align-items: center;
        white-space: nowrap;
        &.left {
          left: 25%;
        }
        &.right {
          right: 25%;
        }
      }
      &.sm {
        padding: 24px;
      }
      &:hover {
        img,
        svg {
          transform: scale(1.1);
        }
        .label {
          display: flex;
        }
      }
    }
  }
  .area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .society {
      height: 55px;
      width: auto;
    }
  }
  @include md {
    .navHome,
    area {
      display: none;
    }
  }
  .navlist {
    display: none;
    background: white;
    @include md {
      z-index: 2;
      display: flex;
      position: fixed;
      left: 0;
      right: 0;
      top: 90px;
      bottom: 0;
      padding: 30px;
      display: flex;
      flex-direction: column;
      .menuItm {
        flex: 0 0 60px;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
