@import '../../scss/colours';
.chatsIoMenu {
  z-index: 4;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 400ms ease-in-out;
  height: 0%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &.true {
    padding: 30px;
    height: unset;
    bottom: 0;
  }
  .title {
    padding: 0 10px;
    font-size: 28px;
    font-weight: 600;
    color: $primary-color;
  }
  .subtitle {
    padding: 0 10px;
    font-weight: 400;
    color: $primary-color;
    margin-top: 8px;
  }
  .scrlView {
    height: 0;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
    .menuItm {
      cursor: pointer;
      margin: 30px 0;
      border: 1px solid $border-color;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
      height: 80px;
      display: flex;
      align-items: center;
      padding: 0 40px;
      svg {
        height: 40px;
        width: 40px;
        margin-right: 20px;
      }
      span {
        color: $primary-color;
        font-weight: 500;
        font-size: 22px;
      }
      &.disable {
        opacity: 0.5;
      }
    }
  }
}
