@import '../../static/scss/mixin';
@import '../../static/scss/colors';

.search {
  height: 80px;
  border: 1px solid $border-color;
  flex: 0 0 80px;
  padding: 0 0 0 40px;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 35%;
  margin: 0 auto;
  .textInput {
    flex: 1;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    &::placeholder {
      text-transform: capitalize;
    }
  }
  .searchIcn {
    margin-right: 15px;
  }
  .icon {
    height: 100%;
    cursor: pointer;
    flex: 0 0 80px;
    width: 80px;
    border-left: 1px solid $border-color;
    display: flex;
    opacity: 0.3;
    img {
      margin: auto;
      width: 45%;
      height: 45%;
    }
    &:hover {
      * {
        transform: scale(1.05);
      }
    }
    &.true {
      opacity: 1;
      background: whitesmoke;
    }
  }
  @include md {
    height: 55px;
    flex: 0 0 55px;
    padding: 0 0 0 20px;
    font-size: 15px;
    width: 80%;
    margin-top: 10px;
    .textInput {
      width: 0;
      font-size: 14px;
    }
    .icon {
      flex: 0 0 55px;
      width: 55px;
      img {
        margin: auto;
        width: 50%;
        height: 50%;
      }
    }
  }
}
