@import '../../scss/colours';
.loginComponent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  color: $primary-color;
  position: relative;
  .title {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
  }
  .subtitle {
    font-size: 17px;
  }
  .input {
    width: 65%;
    font-size: 22px;
    height: 55px;
    border: 1px solid $border-color;
    outline: none;
    margin: 10% 0;
    padding: 0 20px;
  }
  .next {
    width: 35%;
    height: 45px;
    border: 1px solid $border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      background: $primary-color;
      color: white;
    }
  }
  .click {
    margin-top: 15%;
    cursor: pointer;
  }
  .loadingWraper {
    position: absolute;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
