@import '../../scss/_colours.scss';

.footerMenu {
  z-index: 6;
  height: 80px;
  background: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid $border-color;
  .iconWrap {
    display: flex;
    height: 100%;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      cursor: pointer;
      height: 40%;
      width: auto;
      transition: all 400ms ease;
      path {
        fill: $primary-color;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
    span {
      margin-top: 4px;
      color: $primary-color;
      font-size: 15px;
      font-weight: 600;
      display: none;
    }
    &.true {
      span {
        display: block;
      }
    }
  }
  .center {
    width: 100px;
    height: 80px;
    position: relative;
    display: flex;
    .wrapper {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5px;
      height: 100px;
      width: 100px;
      border-radius: 50px;
      background: white;
      border: 1px solid $primary-color;
      display: flex;
      img {
        width: 40px;
        height: 40px;
        margin: auto;
        padding-right: 9px;
        path {
          fill: $primary-color;
        }
        &:hover {
          transform: scale(1);
        }
      }
      &.true {
        filter: drop-shadow(0 0 0.5rem $primary-color);
        transform: scale(1.08);
      }
      &:hover {
        filter: drop-shadow(0 0 0.3rem $primary-color);
        transform: scale(1.08);
      }
    }
  }
}
