@import '../../scss/colours';
.searchView {
  background: white;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 30px;
  color: $primary-color;
  ::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }
  .friendsListContainer {
    margin-top: 20px;
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
    .friendItem {
      display: flex;
      align-items: center;
      padding: 20px;
      border: 1px solid $border-color;
      margin-bottom: 15px;
      cursor: pointer;
      .avatarImage {
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .name {
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }
}
