@import '../../scss/colours';
.supportChat {
  height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  ::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  .chatView {
    height: 0 !important;
    flex: 1;
    overflow-y: auto;
    .question {
      margin: 0 3%;
      margin-top: 3%;
      display: flex;
      .bot {
        width: 70px;
        display: flex;
        flex-direction: column;
        .imgLogo {
          margin: 0 auto;
          height: 50px;
          width: 50px;
          background: $primary-color;
          border-radius: 25px;
        }
        p {
          text-align: center;
          font-size: 11px;
        }
      }
      .questionWrap {
        margin: auto auto auto 8px;
        padding: 12px;
        min-width: 20%;
        max-width: 60%;
        background: #e8eaef50;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        flex-direction: column;
        .questionText {
          width: 100%;
          font-size: 14px;
          word-break: break-word;
          margin: 0;
        }
        .preview {
          width: 100%;
          height: fit-content;
          position: relative;
          svg {
            width: 100%;
            height: auto;
          }
          .previewItem {
            object-fit: contain;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            &.file {
              padding: 35px;
            }
          }
        }
      }
      .questionLoading {
        width: 100px;
        height: 40px;
        margin-left: 16px;
        margin-right: auto;
        padding: 0 12px;
        display: flex;
        align-items: center;
        background: #e8eaef50;
        font-size: 14px;
        border-radius: 30px;
        .ldsEllipsis {
          display: inline-block;
          position: relative;
          width: 60px;
          height: 20px;
          div {
            position: absolute;
            top: 6px;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background: rgb(177, 177, 177);
            animation-timing-function: cubic-bezier(0, 1, 1, 0);

            &:nth-child(1) {
              left: 8px;
              animation: lds-ellipsis1 0.6s infinite;
            }

            &:nth-child(2) {
              left: 8px;
              animation: lds-ellipsis2 0.6s infinite;
            }

            &:nth-child(3) {
              left: 32px;
              animation: lds-ellipsis2 0.6s infinite;
            }

            &:nth-child(4) {
              left: 56px;
              animation: lds-ellipsis3 0.6s infinite;
            }
          }
        }

        @keyframes lds-ellipsis1 {
          0% {
            transform: scale(0);
          }

          100% {
            transform: scale(1);
          }
        }

        @keyframes lds-ellipsis3 {
          0% {
            transform: scale(1);
          }

          100% {
            transform: scale(0);
          }
        }

        @keyframes lds-ellipsis2 {
          0% {
            transform: translate(0, 0);
          }

          100% {
            transform: translate(24px, 0);
          }
        }
      }
      .inChatInfo {
        display: flex;
        padding: 5px;
        span {
          margin: auto;
          color: lightgrey;
          font-style: italic;
          font-size: 10px;
        }
      }
    }
    .answer {
      margin: 0 3%;
      margin-top: 3%;
      display: flex;
      .bot {
        width: 70px;
        display: flex;
        flex-direction: column;
        .imgLogo {
          margin: 0 auto;
          background-color: $primary-color;
          height: 50px;
          width: 50px;
          border-radius: 25px;
        }
        p {
          text-align: center;
          font-size: 11px;
        }
      }
      .questionWrap {
        margin: auto 8px auto auto;
        padding: 12px;
        min-width: 20%;
        max-width: 60%;
        height: fit-content;
        background: white;
        border: 1px solid $border-color;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        flex-direction: column;
        .questionText {
          width: 100%;
          font-size: 14px;
          word-break: break-word;
          margin: 0;
        }
        .preview {
          width: 100%;
          height: fit-content;
          position: relative;
          svg {
            width: 100%;
            height: auto;
          }
          .previewItem {
            object-fit: contain;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            &.file {
              padding: 35px;
            }
          }
        }
      }
      .question-text {
        font-size: 14px;
        word-break: break-word;
      }
    }
  }
  .chatInputs {
    display: flex;
    border-top: 1px solid $border-color;
    align-items: flex-end;
    .addFile,
    .sendBtn {
      height: 72px;
      width: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      svg {
        width: 40%;
        height: auto;
      }
      .dNone {
        display: none;
      }
    }
    .sendBtn {
      background: #464b4e;
    }
    .textArea {
      outline: none;
      padding: 0 12px;
      line-height: 1;
      min-height: 0;
      max-height: 130px;
      height: 100%;
      width: 0;
      flex: 1;
      border: none;
      display: flex;
      font-size: 15px;
      align-items: center;
    }
  }
}
