@import '../../static/scss/mixin';
@import '../../static/scss/colors';

.searchNavbar {
  height: 90px;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 70px;
  .cryptoImg {
    cursor: pointer;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.4s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  .backLogo {
    display: none;
  }
  .navSearch {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 82%;
    margin: 0;
    height: 100%;
    border-left: 1px solid $border-color;
    padding-left: 3%;
    .textInput {
      width: 0;
      flex: 1;
      font-size: 16px;
      border: none;
      background: none;
      outline: none;
      display: flex;
      align-items: center;
      &::placeholder {
        text-transform: capitalize;
      }
    }
    .searchIcn,
    .clipIcon {
      height: 35%;
      margin-right: 25px;
    }
    .clipIcon {
      display: none;
    }
    .icon {
      height: 100%;
      cursor: pointer;
      flex: 0 0 90px;
      border-left: 1px solid $border-color;
      display: flex;
      opacity: 0.3;
      align-items: center;
      img {
        margin: auto;
        margin-right: 10px;
        width: auto;
        height: 45%;
      }
      &:hover {
        * {
          transform: scale(1.05);
        }
      }
      &.true {
        opacity: 1;
        background: whitesmoke;
      }
    }
  }
  @include md {
    height: 70px;
    padding: 0;
    .cryptoImg {
      display: none;
    }
    .backLogo {
      display: flex;
      height: 35%;
      padding: 0 20px;
    }
    .navSearch {
      padding: 0;
      border: none;
      flex: 1;
      .textInput {
        width: 0;
        flex: 1;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
        display: flex;
        align-items: center;
        &::placeholder {
          text-transform: capitalize;
        }
      }
      svg {
        width: auto;
        height: 32%;
      }
      .clipIcon {
        display: flex;
        margin-right: 15px;
      }
      .searchIcn {
        margin-right: 25px;
      }
      .icon {
        display: none;
      }
    }
  }
}
